.card{

    user-select: none;
    flex-direction: column;   
    display: flex;
    margin: 1rem;
    max-width: 25vw;
    min-width:300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    // border: 2px solid gray;
    padding: 1rem;
    // border-radius: px;

    @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 80vw;
    }


    .paperclip{
        position:  relative;
        height: 40px;
        bottom:40px;
        width: 40px;
    
    }

    .card-img{
        max-width: 90vw;
        img {
            width: 100%;
            height: 300px;
            
            object-fit: cover;

          }


          .card-img-icon{
            position: absolute;
        
            width: 90%;
            display: flex;
            padding: 0.5rem;
         
            justify-content: flex-end;
            font-size: large;
            color: black;

            div{
               display: flex;
            
                
                padding: 0.5rem;
                border-radius: 50%;
                cursor: pointer;

            }
           

          }

         
    }

    .card-creater{
       
    font-family: "jura";
      display: flex;
      padding: 0.2rem;
      justify-content: space-between;
        mix-blend-mode: hard-light;
      font-weight: 600;
    font-size: small;
      text-transform: uppercase;
    margin-bottom: 1rem;
        padding: 0.4rem;
        color: black;

       div{ 
        padding: 0.5rem     0.6rem;
    border-radius: 50%;
    }
        div:hover{
            background-color: rgba(0,0,0,0.4);
        
            transition: background-color 0.2s ease-in-out;
        }


      
    }

    .card-title{
        font-family: 'Sacramento', cursive;
            
        font-weight: 200;   
        padding-right: 1rem;
        padding-left: 0.5rem;
        
        font-size: 26px;
        position: relative;
        bottom: 50px;
        color: white;
        mix-blend-mode:   hard-light;
        letter-spacing: 2px;
        transform: rotate(4deg);
        background-color:rgba(0,0,0,0.4);
    
        padding-left: 8px;
  
    }
    .card-description{
        color:rgb(0, 0, 0); 
        display: flex;
        text-transform: uppercase;
        text-emphasis: none;
        text-align: left;
        font-size: small;
        align-items: center;
        justify-content: center;
        color: var(--PURPLE);
        font-weight: 600;
        font-family:'Jura'
 
    }

    .card-action-item-row{
        display: flex;
        
        justify-content: space-around;
      width: 100%;
        font-size: large;
        margin-top: 1rem;
        color: var(--PURPLE);

        :hover{
            filter:invert(0.2);
        }
        // font-family: 'jura';
        
        
    }

}